<!DOCTYPE html>
<html>
  <head>
    <title>Backoffice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid overflow-hidden">
      <div class="row vh-100 overflow-auto">
        <%= render 'shared/sidebar' %>
        <div class="col d-flex flex-column h-100">
          <main class="row">
            <%= render 'shared/flash_message' %>
            <%= yield %>
          </main>
          <footer class="row bg-light py-4 mt-auto">
            <div class="col"> Bottom footer content here... </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
